@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  font-family: "realtxt";
}

*{
  margin: 0;
  padding: 0;
}
html,body{
  max-width: 100%;
  height: 100vh;
}

@font-face {
    font-family: realtxt;
    src: url(./assets/pxiEyp8kv8JHgFVrJJfecg.woff2);
  
  }
@font-face {
    font-family: realtxt1;
    src: url(./assets/rP2Hp2ywxg089UriCZ2IHTWEBlwu8Q.woff2);
  
  }
@font-face {
    font-family: real2;
    src: url(./assets/LilitaOne-Regular.woff);
  
  }

  body{
    /* background-color: #023145; */
  color: black;
  }

  ::-webkit-scrollbar{
    width: 7px;
    height: 7px;
    

}
::-webkit-scrollbar-thumb{
    background: #000;
    border-radius: 50px;
}
::-webkit-scrollbar-thumb:hover{
    background: #6555CD;
    border-radius: 50px;
}


 select::-ms-expand {
    display: none;
} 

.select{
    position: relative;
    display: flex;
    width: 17%;
    height: 3em;
    line-height: 3;
    background: #27272a;
    overflow: hidden;
    border-radius: 0.25em;
}

.select::after{
    content: '\25BC';
    position: absolute;
    top: 0;
    right: 0;
    padding: 0 1em;
    background: #27272a;
    cursor: pointer;
    pointer-events: none;
    -webkit-transition: 0.25s all ease;
    -o-transition: 0.25s all ease;
    transition: 0.25s all ease;
}
.select:hover::after{
    color: #6556CD;
}

